.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.links{
  text-decoration: none;
}
.logo{
  padding:20px;
  line-height: 50px;
}
@media (min-width: 1200px) {
.search{
  padding:20px;
  width: 80%;
}}
@media (min-width: 992px) and (max-width: 1199px) {
  .search{
    padding:20px;
    width: 70%;
  }}
  @media (min-width: 558px) and (max-width: 991px) {
    .search{
      padding:20px;
      width: 60%;
    }}
    @media (max-width: 557px) {
      .search{
        padding:20px;
        width: 40%;
      }}
.header{
  border-bottom:1px solid #000;
  position: sticky;
  top: 0;
  background-color: #fff;
  margin-bottom: 20px;
  z-index: 999;
}

